## Exploration of map reduce result

---

### Import Libraries

In [1]:
# import libraries
import findspark
import pandas as pd
import pyspark as ps
from pyspark.sql.functions import col, sum
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
from pyspark.sql import SparkSession

### Initialize Spark

In [2]:
# Locate the spark installation
findspark.init()

# Initialize a SparkContext
spark = SparkSession.builder.appName("data_cleaning").getOrCreate()
spark.stop()
sc = ps.SparkContext(appName="prior_analysis")
# Initialize the Session
spark_session = ps.sql.SparkSession(sc)

23/09/09 17:41:39 WARN Utils: Your hostname, MacBook-Pro-di-Andrea.local resolves to a loopback address: 127.0.0.1; using 192.168.1.148 instead (on interface en0)
23/09/09 17:41:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/09 17:41:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/09 17:41:39 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/09/09 17:41:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

### Connect and import data from HDFS directly into a Spark DataFrame

In [3]:
# Title, description, authors, publisher, publishedDate, categories, Price, User_id, profileName, review/helpfulness, review/score, review/time, review/summary, review/text

joined_schema = StructType([
    StructField("Title", StringType(), True),
    StructField("description", StringType(), True),
    StructField("authors", StringType(), True),
    StructField("publisher", StringType(), True),
    StructField("publishedDate", StringType(), True),
    StructField("categories", StringType(), True),
    StructField("Price", FloatType(), True),
    StructField("User_id", IntegerType(), True),
    StructField("profileName", StringType(), True),
    StructField("review/score", FloatType(), True),
    StructField("review/time", IntegerType(), True),
    StructField("review/summary", StringType(), True),
    StructField("review/text", StringType(), True),
    StructField("N_helpful", IntegerType(), True),
    StructField("Tot_votes", IntegerType(), True)    
    ])

df_join_result = spark_session.read.csv('hdfs://localhost:9900/user/book_reviews/joined_tables', schema=joined_schema, sep='\t')
#df_join_result.printSchema()
#df_join_result.describe().show()

df_join_result.count()

2448529

In [4]:
tmp = df_join_result.limit(300).toPandas()
tmp.head(300)

,Title,description,authors,publisher,publishedDate,categories,Price,User_id,profileName,review/score,review/time,review/summary,review/text,N_helpful,Tot_votes
0,"$1,265 Gold",Profitable trade set-ups from StockTwits leadi...,"['Howard Lindzon', 'Philip Pearlman', 'Ivaylo ...",John Wiley & Sons,2011-06-09,['Business & Economics'],75.0,NaN,Jerry Hickel,1.0,1111104000,Gold Drivel,This book earns one star merely because it p...,14,15
1,$25 and Under 1998: Your Guide to the Best Ine...,With this completely updated 4th edition of hi...,['Eric Asimov'],Harper Paperbacks,1997-08-16,['Travel'],NaN,NaN,None,4.0,954201600,Help for Impoverished Newcomers or Curious Local,Upon deplaning in JFK I was hungry and lost. T...,0,0
2,$25 and Under 1998: Your Guide to the Best Ine...,With this completely updated 4th edition of hi...,['Eric Asimov'],Harper Paperbacks,1997-08-16,['Travel'],NaN,NaN,Hiram Gomez Pardo,5.0,1132790400,There is not more sincere love than the love f...,This ineffable statement of Georges Bernard Sh...,0,0
3,'A Great Effusion of Blood'?: Interpreting Med...,Exploring the issue from both historical and l...,"['Mark D. Meyerson', 'Daniel Thiery', 'Oren Fa...",University of Toronto Press,2004-01-01,['History'],74.0,NaN,Midwest Book Review,5.0,1104969600,An invaluable tool for history and literature ...,"Compiled by academicians Mark D. Meyerson, Dan...",1,1
4,'A Hell of a Place to Lose a Cow': An American...,A noted cultural critic and NPR essayist offer...,['Tim Brookes'],None,2001,['Biography & Autobiography'],NaN,NaN,Erik P Boucher,5.0,980294400,A Hell of a Place to Lose a Cow,Very entertaining!! After 25 years of the same...,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,(ESV) English Standard Version Large Print Bib...,"The ESV Study Bible, Large Print edition trans...",['Crossway Bibles'],None,2014-07-31,['Bibles'],NaN,NaN,None,5.0,1030579200,ESV- Highly Accurate and Readable Translation,"As a student learning Greek in College, I have...",10,10
296,(ESV) English Standard Version Large Print Bib...,"The ESV Study Bible, Large Print edition trans...",['Crossway Bibles'],None,2014-07-31,['Bibles'],NaN,NaN,A. M. Leveille,5.0,1258329600,extras and price make it perfect as a gift,The ESV translation is recent and very good: t...,10,10
297,(ESV) English Standard Version Large Print Bib...,"The ESV Study Bible, Large Print edition trans...",['Crossway Bibles'],None,2014-07-31,['Bibles'],NaN,NaN,gradiefrederick3,4.0,1059091200,A Great Text...but the binding still has a way...,The English Standard Version (ESV) is an excel...,17,19
298,(ESV) English Standard Version Large Print Bib...,"The ESV Study Bible, Large Print edition trans...",['Crossway Bibles'],None,2014-07-31,['Bibles'],NaN,NaN,W. Clay Knick,5.0,1059350400,Best Edition of ESV,The ESV Deluxe in hardback and genuine leather...,14,15
299,(ESV) English Standard Version Large Print Bib...,"The ESV Study Bible, Large Print edition trans...",['Crossway Bibles'],None,2014-07-31,['Bibles'],NaN,NaN,Janet R. Senkarik,5.0,1199750400,Very Nice,This is a very nice bible and although the pri...,21,24

In [5]:
spark_session.stop()