## Exploration of map reduce result

---

### Import Libraries

In [1]:
# import libraries
import findspark

# Locate the spark installation
findspark.init()

In [2]:
import pandas as pd
import pyspark as ps
from pyspark.sql.functions import col, sum
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
from pyspark.sql import SparkSession

### Initialize Spark

In [3]:
# Initialize a SparkContext
spark = SparkSession.builder.appName("data_cleaning").getOrCreate()
spark.stop()
sc = ps.SparkContext(appName="prior_analysis")
# Initialize the Session
spark_session = ps.sql.SparkSession(sc)

23/09/07 19:10:08 WARN Utils: Your hostname, MacBook-Pro-di-Andrea.local resolves to a loopback address: 127.0.0.1; using 192.168.1.148 instead (on interface en0)
23/09/07 19:10:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/07 19:10:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Connect and import data from HDFS directly into a Spark DataFrame

In [23]:
df_join_result = spark_session.read.csv('hdfs://localhost:9900/user/book_reviews/joined_tables.csv', inferSchema=True, sep='\t')
df_join_result.printSchema()
df_join_result.describe().show()
df_join_result.show(5)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

+-------+--------------------+--------------------+-----------------+---------+--------------------+------------------+------------------+--------------------+------------------+--------------------+-------------------+--------------------+
|summary|                 _c0|                 _c1|              _c2|      _c3|                 _c4|               _c5|               _c6|                 _c7|               _c8|                 _c9|               _c10|                _c11|
+-------+--------------------+--------------------+-----------------+---------+--------------------+------------------+------------------+--------------------+------------------+--------------------+-------------------+--------------------+
|  count|                1807|                1683|             1688|     1536|                1798|              1806|              1679|                 191|              1740|                1807|               1735|                1735|
|   mean|  1890.4234234234234|                null|22.81583333333335|     null|   1992.457399103139|25.625468749999932|15.852014302741708|         1.1392776E9|               2.5|   7539576.348837209|8.381109302595156E7|1.1946840729546866E9|
| stddev|  121.41697871007463|                null| 45.9774724614529|     null|   89.54264178557183|3.6838322778031363|18.463659454404358|1.3509049768892375E8|3.5355339059327378| 8.563307738803433E7|2.978428297002772E8|1.3790576532460994E8|
|    min|               00 01|212° The Extra De...|            13.25| Anagrama|               125.0|               0/0|               1.0|                 0/3|                 0|                 0/0|                1.0|          1000598400|
|    max|y no se lo trag l...|• The most comple...|         deSingel|iUniverse|xhottstuffx   kke...|    Transportation|      vomelectroid|          vickie1076|             x0J0x|this book is abou...|     Very inspiring|vivid and engrossing|
+-------+--------------------+--------------------+-----------------+---------+--------------------+------------------+------------------+--------------------+------------------+--------------------+-------------------+--------------------+

+--------------------+--------------------+-------------+--------------+----------+------+------------+----+--------------------+---------+--------------+--------------------+
|                 _c0|                 _c1|          _c2|           _c3|       _c4|   _c5|         _c6| _c7|                 _c8|      _c9|          _c10|                _c11|
+--------------------+--------------------+-------------+--------------+----------+------+------------+----+--------------------+---------+--------------+--------------------+
|               00 01|deSingel seizoens...|     deSingel|      deSingel|     125.0|  null|vomelectroid| 0/3|                 5.0|972604800|Very inspiring|This is a great a...|
|Essentials of New...|Thirty one lesson...|Steven L  Cox|B   H Academic|1999-06-01|Bibles|       16.49|null|           miguel  2|      2/2|           4.0|           997574400|
|Essentials of New...|Thirty one lesson...|Steven L  Cox|B   H Academic|1999-06-01|Bibles|       16.49|null|Just a student  Tony|      2/2|           4.0|          1180396800|
|Essentials of New...|Thirty one lesson...|Steven L  Cox|B   H Academic|1999-06-01|Bibles|       16.49|null|  Terry Cook  Cookie|      5/7|           1.0|          1093910400|
|Essentials of New...|Thirty one lesson...|Steven L  Cox|B   H Academic|1999-06-01|Bibles|       16.49|null|      MICHAEL S COOK|      0/0|           4.0|          1358121600|
+--------------------+--------------------+-------------+--------------+----------+------+------------+----+--------------------+---------+--------------+--------------------+
only showing top 5 rows

In [24]:
tmp = df_join_result.limit(300).toPandas()
tmp.head(100)

# Title, description, authors, publisher, publishedDate, categories, Price, User_id, profileName, review/helpfulness, review/score, review/time, review/summary, review/text

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11
0,00 01,deSingel seizoenspocket 00 01,deSingel,deSingel,125.0,None,vomelectroid,0/3,5.0,972604800,Very inspiring,This is a great and well developed piece of wo...
1,Essentials of New Testament Greek A Student s...,Thirty one lessons keyed to chapters of the te...,Steven L Cox,B H Academic,1999-06-01,Bibles,16.49,None,miguel 2,2/2,4.0,997574400
2,Essentials of New Testament Greek A Student s...,Thirty one lessons keyed to chapters of the te...,Steven L Cox,B H Academic,1999-06-01,Bibles,16.49,None,Just a student Tony,2/2,4.0,1180396800
3,Essentials of New Testament Greek A Student s...,Thirty one lessons keyed to chapters of the te...,Steven L Cox,B H Academic,1999-06-01,Bibles,16.49,None,Terry Cook Cookie,5/7,1.0,1093910400
4,Essentials of New Testament Greek A Student s...,Thirty one lessons keyed to chapters of the te...,Steven L Cox,B H Academic,1999-06-01,Bibles,16.49,None,MICHAEL S COOK,0/0,4.0,1358121600
...,...,...,...,...,...,...,...,...,...,...,...,...
95,17 Contemporary Christian Hits Volume 2 Read...,None,None,None,2005-12-01,14.99,None,Arena Connery Arena,1/1,5.0,1144972800,not just easy piano
96,18 Miles From Earth Stories From Barber Shop...,Stories from barber Shops Front Porches and S...,Wayne Bristow,None,2000,Texas,18.0,None,Quineil Roark quilt lady,0/0,5.0,1265414400
97,18 Miles From Earth Stories From Barber Shop...,Stories from barber Shops Front Porches and S...,Wayne Bristow,None,2000,Texas,18.0,None,Keith Loyd,2/2,5.0,979171200
98,21 Days to Baghdad Photos and Dispatches from...,Journalistic Ethics Moral Responsibility in t...,Dale Jacquette,Routledge,2016-09-16,Language Arts Disciplines,24.95,None,Roberto Pratico,0/0,4.0,1199664000
99,21 Days to Baghdad Photos and Dispatches from...,Journalistic Ethics Moral Responsibility in t...,Dale Jacquette,Routledge,2016-09-16,Language Arts Disciplines,24.95,None,John A Investwise,1/1,5.0,1129939200

In [ ]:
spark_session.stop()