**_Hypothesis_**: The popularity of a category depends on the publishing date

   - **Metric**: Popularity: average review/score

In [2]:
# Import libraries

import pymongo
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Connect to MongoDB

client = pymongo.MongoClient('mongodb://localhost:27017/')
database = client['spark_db']
books = database['books_joined']

In [7]:
# Define the aggregation pipeline
pipeline = [
        {
        "$project": {
            'review/score': 1,
        'categories': 1,
        'publishedDate': 1,
        }
    },
    {'$match': {
        'review/score': {'$exists': True, '$ne': 0.0},
        'categories': {'$exists': True, '$ne': None},
        'publishedDate': {'$exists': True, '$ne': None},
    }
    }
]

# Execute the aggregation query and create a DataFrame
source_df = pd.DataFrame(list(books.aggregate(pipeline)))
source_df

,_id,publishedDate,categories,review/score
0,6501e1d45a0fbd6f0688235c,2001,['Biography & Autobiography'],1.0
1,6501e1d45a0fbd6f0688235d,1849,"['Knowledge, Theory of']",1.0
2,6501e1d45a0fbd6f0688235e,1849,"['Knowledge, Theory of']",4.0
3,6501e1d45a0fbd6f0688235f,1999-02-01,['Biography & Autobiography'],5.0
4,6501e1d45a0fbd6f06882360,1999-02-01,['Biography & Autobiography'],5.0
...,...,...,...,...
299845,6501e1d65a0fbd6f068cb818,1991,['Adolescence'],3.0
299846,6501e1d65a0fbd6f068cb819,1999-07-01,['Religion'],5.0
299847,6501e1d65a0fbd6f068cb81a,1999-07-01,['Religion'],5.0
299848,6501e1d65a0fbd6f068cb81b,1999-07-01,['Religion'],5.0
299849,6501e1d65a0fbd6f068cb81c,1999-07-01,['Religion'],5.0

In [6]:
source_df['publishedDate']= pd.to_datetime(source_df['publishedDate'],errors='coerce').dt.year
source_df

,_id,publishedDate,categories,review/score
0,6501e1d45a0fbd6f0688235c,2001.0,['Biography & Autobiography'],1.0
1,6501e1d45a0fbd6f0688235d,1849.0,"['Knowledge, Theory of']",1.0
2,6501e1d45a0fbd6f0688235e,1849.0,"['Knowledge, Theory of']",4.0
3,6501e1d45a0fbd6f0688235f,NaN,['Biography & Autobiography'],5.0
4,6501e1d45a0fbd6f06882360,NaN,['Biography & Autobiography'],5.0
...,...,...,...,...
299845,6501e1d65a0fbd6f068cb818,1991.0,['Adolescence'],3.0
299846,6501e1d65a0fbd6f068cb819,NaN,['Religion'],5.0
299847,6501e1d65a0fbd6f068cb81a,NaN,['Religion'],5.0
299848,6501e1d65a0fbd6f068cb81b,NaN,['Religion'],5.0
299849,6501e1d65a0fbd6f068cb81c,NaN,['Religion'],5.0